# Build
/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
bin/

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.log
*.ctxt

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# IDE — IntelliJ
.idea
*.iws
*.iml
*.ipr

# IDE — Eclipse / STS
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache
.apt_generated
.apt_generated/
.metadata
.recommenders
.recommenders/
.loadpath
.externalToolBuilders/
.target
.tern-project
.texlipse
.buildpath
.cache-main
.scala_dependencies
.worksheet
*.launch
*.pydevproject
.cproject
.autotools

# IDE — VS Code
.vscode/

# IDE — NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
*.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Windows
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.stackdump

# Temp/misc
*.tmp
*.bak
*.swp
*.sw?
*~.nib
*~
.#*
*#
local.properties
tmp/
/scratch
*.sublime-*
.mtj.tmp/
README.html
.exercism

# Git merge artifacts
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
